<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div> <!--filter the list by the user's search-->
      <div class='col-md-4'>
        <!--<input type='text'
               [(ngModel)]='listFilter' />-->
               <input
               type="text"
               class="form-control"
               placeholder="Search by title"
               [(ngModel)]="title"
             />
      </div>
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
      <!--shows the filtered list by the user's search-->
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'
                      (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image <!--if showimage is true show the hide button-->
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let tutorial of tutorials'> <!--For each filtered product we show the image-->
            <td>
              <img *ngIf='showImage'
                   [src]=''
                   [title]='tutorial.title'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <ul class="list-group">
                <li
                  
                >
                  {{ tutorial.title }}
                </li>
              </ul> <!--shows the coursename-->
            </td>
            <td><a href="mailto:{{tutorial.email}}"><!--when the user clicks on the email it sends them to the mail app-->
             {{tutorial.email}}
            </a></td>
            <td>{{tutorial.available}}</td><!--Shows the release date-->
            <td>{{tutorial.price}}</td> <!--Shows the price with pipes-->
            <td>
            <pm-star>5</pm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>